PORT=running_port
DATABASE_OUTPUT_NAME=hrms_admin
DATABASE_OUTPUT_USER=root
DATABASE_OUTPUT_PASSWORD=your_password
DATABASE_OUTPUT_PORT=db_port
DATABASE_OUTPUT_HOST=your_host_id
DATABASE_OUTPUT_DIALECT=mysql

DATABASE_HRMS_NAME=hrms_dev
DATABASE_HRMS_USER=root
DATABASE_HRMS_PASSWORD=your_password
DATABASE_HRMS_PORT=db_port
DATABASE_HRMS_HOST=db_host_id
DATABASE_HRMS_DIALECT=mysql

# Google SSO
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
JWT_SECRET=your_jwt_secret
REDIRECT_URL=hrms_common_landing_page
